* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*///////////////////////////////////////////////
///////////////    TYPOGRAPHY     ///////////////
///////////////////////////////////////////////*/

p {
    font-family: 'Space Grotesk', georgia, serif;
    font-size: .8rem;
    line-height: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Anton', sans-serif; 
}

/*///////////////////////////////////////////////
//////////////    HEADER & NAV     //////////////
///////////////////////////////////////////////*/
.ch-main-wrapper {
    max-width: 100%;
    width:  100%;
}

/* .ch-section {
    margin: 0 auto;
    width: 90vw;
} */

.ch-header {
    color:  #fff;
    font-family: 'Anton', sans-serif;
    letter-spacing: .3rem;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: #191e25;
}

.ch-nav {
    width: 100%;
    margin:  0 auto;
    padding-left: 1rem;
}

.ch-nav__link {
    color: #fff;
    text-decoration: none;
}

.ch-hero {
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background: url("background-01.svg") no-repeat center center;
    background-size: cover; */
    background-color: #191e25;
    width: 100%;
}

.ch-main-header {
    color: #d45938;
    font-size: 2rem;
    text-transform: uppercase;
    max-width: 90%;
    letter-spacing: .1rem;
    text-align: center;
    line-height: 1.1;
    margin-top: -4rem;
}

.ch-line-wrapper {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: flex-end;
}

.ch-founders {
    letter-spacing: 1;
    color: #fff;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: .6rem;
}


/*///////////////////////////////////////////////
/////////////     SECTION ONE      //////////////
///////////////////////////////////////////////*/

.ch-section-one {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ch-section-one  p {
    color: #191e25;
    font-size: .8rem;
    line-height: 1.1rem;
}

/*///////////////////////////////////////////////
/////////////     SECTION TWO     ///////////////
///////////////////////////////////////////////*/

.ch-section-two {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url("binary.svg") no-repeat center bottom;
    background-size: cover;
    background-color: #191e25;
}

.ch-section-two  p {
    color: #ffffff;
    font-size: .8rem;
    line-height: 1.1rem;
}

/*///////////////////////////////////////////////
/////////////     WORK SECTIONS     /////////////
///////////////////////////////////////////////*/

.ch-work-wrapper {
    height: 100vh;
    width: 100%;
}

.ch-work__info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.ch-work__img-wrapper {
    width: 100%;
    background:url("polution2.svg") no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.ch-work {
    max-width: 75%;
}

.ch-work__header {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: #d45938;
    letter-spacing: .1rem;
}

.ch-work__description {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

/*///////////////////////////////////////////////
/////////////     BIO SECTION     /////////////
///////////////////////////////////////////////*/

.ch-bio__wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-direction: column-reverse;
}

.ch-bio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    min-height: 50vh;
    width: 100%;
}

.ch-bio:first-of-type {
    background-color: #191e25;
}

.ch-bio:first-of-type .ch-bio__header {
    color: #fff;
}

.ch-bio:first-of-type .ch-bio__description {
    color: #fff;
}

.ch-bio__img {
    max-width: 40%;
}
.ch-bio__header {
    margin-top: 1rem;
    text-transform: uppercase;

}
.ch-bio__description {
    margin-top: .25rem;
    text-align: center;
}

.ch-footer {
    display: flex;
    height: 6rem;
    background-color: #191e25;
    justify-content: center;
    align-items: center;
}
.ch-footer__contact-us a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.ch-footer__contact-us a:hover, 
.ch-footer__contact-us a:active, 
.ch-footer__contact-us a:visited  {
    color: #d45938;
}

@media (min-width:320px) { 

}

@media (min-width:450px) { 

}
@media (min-width:600px) { 
    .ch-section-one {
        flex-direction: row;
    }

    p, .ch-section-two  p, .ch-section-one p {
        font-size: 1.2rem;
        line-height: 1.4;
    }

    .ch-bio__img {
        max-width: 30%;
    }

    .ch-main-header {
        font-size: 3.5rem;
    }
}
@media (min-width:750px) { 
    .ch-bio__wrapper {
        flex-direction: row;
    }

    .ch-bio__img {
        max-width: 50%;
    }
}

@media (min-width:1020px) { 
   
    
}

@media (min-width:1281px) { 
    .ch-main-header {
        font-size: 5rem;
    }

    .ch-work__header {
        font-size: 5rem;
        letter-spacing: .2rem;
    }

    .ch-bio__img {
        max-width: 30%;
    }

}

/* 010010010111010000100111011100110010000001101110011011110111010000100000011010100111010101110011011101000010000001110100011010000110010100100000011000010110001101100011011001010111001101110011001000000111010001101111001000000110001101101111011001000110100101101110011001110010000001110010011001010111001101101111011101010111001001100011011001010111001100100000011101000110100001100001011101000010000001101101011000010111010001110100011001010111001001110011001011100010000001001001011101000010011101110011001000000110100001100001011101100110100101101110011001110010000001110100011010000110010100100000011100000111001001101001011101100110100101101100011001010110011101100101001011000010000001101101011001010110000101101110011100110010110000100000011000010110111001100100001000000110011001110010011001010110010101100100011011110110110100100000011101000110111100100000011000110110000101110010011101100110010100100000011011110111010101110100001000000111010001101001011011010110010100100000011101000110111100100000011100110111010001110101011001000111100100101100001000000111000001110010011000010110001101110100011010010110001101100101001000000110000101101110011001000010000001100010011001010110110001101001011001010111011001100101001000000111010001101000011000010111010000100000001000100100100100100000011000110110000101101110001000000110001001100101001000000110000100100000011000110110111101100100011001010111001000100010001011100010000001001110011011110111010000100000011001010111011001100101011100100111100101101111011011100110010100100000011010010111001100100000011000010110011001100110011011110111001001100100011001010110010000100000011101000110100001100001011101000010000001101100011101010111100001110101011100100111100100101110001000000100111001101111011101000010000001100101011101100110010101110010011110010110111101101110011001010010000001101001011100110010000001100111011010010111011001100101011011100010000001110100011010000110010100100000011100110111000001100001011000110110010100100000011101110110100101110100011010000110100101101110001000000111001101101111011000110110100101100101011101000111100100100000011101000110111100100000011100110110111100100000011001010110000101110011011010010110110001111001001000000110001001100101011011000110100101100101011101100110010100100000011101000110100001100001011101000010000000100010010010010010000001100011011000010110111000100000011000010110001101101000011010010110010101110110011001010010000001101001011001100010000001101111011011100110110001111001001000000100100100100000011101000111001001111001001011100010001000100000010010010111010000100111011100110010000001101110011011110111010000100000011000010010000001101101011001010111001001101001011101000110111101100011011100100110000101100011011110010010111000100000010101010110111001110100011010010110110000100000011010010111010000100000011010010111001100101100001000000111011101100101001000000111001101101000011011110111010101101100011001000010000001100001011010010110110100100000011101000110111100100000011001000110111100100000011000100110010101110100011101000110010101110010001011000010000001110100011100100111100100100000011010000110000101110010011001000110010101110010001011000010000001100001011011100110010000100000011001100110100101101110011001000010000001110111011000010111100101110011001000000111010001101111001000000110000101100110011001100110111101110010011001000010000001100101011100010111010101100001011011000110100101110100011110010010000001101111011001100010000001101111011100000111000001101111011100100111010001110101011011100110100101110100011110010010000001110100011011110010000001101111011101010111001000100000011001100110010101101100011011000110111101110111001000000110100001110101011011010110000101101110011100110010000001110011011011110010000001110111011001010010000001100011011000010110111000100000011011000110010101100001011100100110111000100000011001100111001001101111011011010010000001100001011011100110010000100000011000100110010101101110011001010110011001101001011101000010000001110100011010000110111101110011011001010010000001100110011101010111010001110101011100100110010100101100001000000110100101100110001000000110111001101111011101000010000001100110011011110111001001100111011011110111010001110100011001010110111000101100001000000110001101101111011001000110010101110010011100110010110000100000010000110101010001001111011100110010110000100000010000110100010101001111011100110010110000100000011000010110111001100100001000000100011001101111011101010110111001100100011001010111001001110011001011100010000000100000*/

